@import '../../../App.scss';


nav {
    background: $yellowmeli;
    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
    a {
      cursor: pointer;
    }
    .input-group-text {
        border-top-right-radius: 0.25rem!important;
        border-bottom-right-radius: 0.25rem!important;
        margin-left: -1px;
    }
}



