@import '../../../App.scss';

.wrap-list{

    h1 {
        margin-top: $spec32;
        font-size: $font28;
        margin-bottom: $spec32;
    }
    h6 {
        margin-top: $spec32;
        margin-bottom: $spec16;
        font-size: $font14;
    }
    h4 {
        font-size: $font24;
        margin: 0;
    }
    h3 {
        margin-top: $spec32;
        margin-bottom: $spec32;
        font-size: $font46;
        font-weight: 400;
    }
    p {
        font-size: $font16;
        color: $graymeli;
    }
    button {
        @media (min-width: 768px) and (max-width: 1199.98px) { width: 80% }
        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) { width: 80% }
        
    }
}