@import '../../../App.scss';

   .product-list {
       margin-bottom: 20px;
       .thumb {
            width: 100%;
        }
       .contain-detail {
        display: flex;
        .info-product{
            flex: 1 0 50%;
             a {
             color: $blackmeli;
             margin-top: 20px;
             font-size: $font24;
             font-weight: 400;
            &:hover {
                    color: $graymeli;
                    text-decoration: none;
                }
            }
            img{
                padding-left: 10px;
                vertical-align: 0;
            }
            h2 {
                    font-size: 18px;
            }
            h3{
                font-size: 18px;
            }
        }
    }
    p {
           margin-top: 30px;
           font-size: 12px;
           color: $graymeli;
    }
   }

.products-not-found {
    background: #FFF;
    border-radius: 4px;
    padding: 32px;
    text-align: center;
    p{
        margin: 0 0 15px;
        font-size: 21px;
    }
    ul{
        text-align: left;
    }
}